* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.circle {
  fill: yellow;
  stroke: green;
  stroke-width: 5px;
}

.svg:hover .circle {
  transition: 0.5s;

  fill: black;
  stroke: indigo;
}

.ellipse {
  fill: aqua;
  stroke: black;
  stroke-width: 5px;
}

.svg:hover .ellipse {
  transition: 0.5s;

  fill: purple;
  stroke: yellow;
}

.rect {
  fill: gray;
  stroke: violet;
  stroke-width: 5px;
}

.svg:hover .rect {
  transition: 0.7s;

  fill: black;
  stroke: red;
}

.square {
  fill: darkgreen;
  stroke: darkred;
  stroke-width: 5px;
}

.svg:hover .square {
  transition: 0.7s;

  fill: darkred;
  stroke: darkgreen;
}
